---
git_config:
  - { name: "pull.rebase", value: "true" }
  # notice the single quotes for the string values
  - { name: "user.name", value: "'User Name'" }
  - { name: "user.email", value: "'user email'" }

repos:
  - { dest: "platform", repo: "git@github.com:OnlineFuels/platform.git" }
  - { dest: "platform-admin", repo: "git@github.com:OnlineFuels/platform-admin.git" }
  - { dest: "platform-cron", repo: "git@github.com:OnlineFuels/platform-cron.git" }
  - { dest: "platform-de", repo: "git@github.com:OnlineFuels/platform-de.git" }

swap_in_gb: 2
